<%= render 'shared/navbar' %>
<%= render 'shared/add_team_modal' %>

<% @teams.each do |team| %>
  <div class="container">
    <div class="card">
      <div class="card-content">
        
        <!-- Première ligne : Le titre prend toute la largeur -->
        <div class="first-row">
          <h2><%= team.name %></h2>
        </div>
        
        <!-- Deuxième ligne : Capitaine à gauche, nombre de personnes à droite -->
        <div class="second-row captain-members">
          <p class="captain">
            <i class="fa-solid fa-crown"></i>
            <%= team.captain&.first_name %> <%= team.captain&.last_name %>
          </p>
          <p class="members-count"><%= team.users.count %>/8</p>
        </div>
        
        <!-- Troisième ligne : Bouton centré, chevron à droite -->
        <div class="third-row">
          <div class="center-btn">
            <% if current_user == team.captain && team.name.present? %>
              <%= button_to 'Supprimer l\'équipe', team_path(team), method: :delete, class: 'btn btn-red', data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette équipe ?' } %>
            <% elsif (!current_user.team || current_user.team.name.nil?) && team.users.count < 8 %>
              <%= button_to "Rejoindre l'équipe", join_team_path(team), method: :post, class: 'btn btn-green' %>
            <% elsif current_user.team == team %>
              <%= button_to 'Quitter l\'équipe', leave_team_path(team), method: :delete, class: 'btn btn-red' %>
            <% end %>
          </div>
          <i id="chevron-<%= team.id %>" class="fa-solid fa-circle-chevron-down chevron" onclick="toggleUserList(<%= team.id %>)"></i>
        </div>
        
        <!-- Liste des utilisateurs cachée -->
        <div id="user-list-<%= team.id %>" class="user-list">
          <ul>
            <% team.users.each do |user| %>
              <% unless user == team.captain %>
                <li><%= user.first_name %> <%= user.last_name %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>



<div class="add-container">
  <div class="add-team">
    <a href="#" data-bs-toggle="modal" data-bs-target="#AddTeamModal">
      <i class="fa-solid fa-plus"></i>
    </a>
  </div>
</div>


<div class="cta-container">
  <%= link_to map_path, class: "button type--A" do %>
    <div class="button__line"></div>
    <div class="button__line"></div>
    <span class="button__text">Commencer l'aventure</span>
  <% end %>
</div>

<script>
  function toggleUserList(teamId) {
    const userList = document.getElementById(`user-list-${teamId}`);
    const chevronIcon = document.querySelector(`#chevron-${teamId}`);

    if (userList.style.display === "none") {
      userList.style.display = "block";
      chevronIcon.classList.remove('fa-circle-chevron-down');
      chevronIcon.classList.add('fa-circle-chevron-up');
    } else {
      userList.style.display = "none";
      chevronIcon.classList.remove('fa-circle-chevron-up');
      chevronIcon.classList.add('fa-circle-chevron-down');
    }
  }
</script>