
<%= render 'shared/navbar' %>
<div id="map-container" data-controller="map">
  <div id="map"  data-map-target="map"></div>
  <%= render 'shared/menu_button' %>
  <%= render 'shared/check_modal' %>
  <%= render 'shared/enigma_modal' %>
  <%= render 'shared/gallery_modal' %>
  <%= render 'shared/information_modal' %>
</div>
